body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.warning-text {
  color: red;
}

.flex-parent-horizontal {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  width: 90%;
  max-width: 800px;
}

.filter {
  width: auto;
  display: inline-flex;
  word-wrap: normal;
  align-items:center;
  border: 2px solid black;
  height: 100px;
  line-height: 45px;
  margin-inline-end: 12px;
  padding: 4px;
}

.answered:hover {
  border-color: green;
}

.unanswered:hover {
  border-color: red;
}

.answered.passive{
  background-color: white;
}

.answered.active{
  background-color: green;
  color: white;
}

.unanswered.passive{
  background-color: white;
}

.unanswered.active{
  background-color: red;
  color: white
}

.question-list {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  max-width: 800px;
}

.question-item {
  width: 90%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 240px;
  margin-top: 12px;
}

.author-asks {
  text-align: left;
  align-content: center;
  width: 100%;
  line-height: 24px;
}

.question-item-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  border: 1px dashed black;
  height: 100%;
  padding: 4px;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  justify-content: center;
  align-content: center;
}

.avatar-container > .avatar {
  height: 100px;
}

.avatar {
  border-radius: 100%;
}

.question-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 75%;
  height: 100%;
  padding-left: 8px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.nav-ul-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
}

.nav-ul-right li:last-child {
  padding-right: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

